<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAHgd7-Cpw9pkF8MrxS-3_D5odNxUgq1cs</string>
	<key>GCM_SENDER_ID</key>
	<string>663075340578</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.silver.roommanage</string>
	<key>PROJECT_ID</key>
	<string>room-manage-ppqolm</string>
	<key>STORAGE_BUCKET</key>
	<string>room-manage-ppqolm.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:663075340578:ios:c55f588fcad616fdd6e57b</string>
</dict>
</plist>